body{
    background-color: #ffffff;
    margin: 0px;
}
*{
    box-sizing: border-box;
    margin: 0px auto;
}
header{
    background-color: #90aacb;
    color: white;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin: 0px;
    padding: 20px;
    margin-bottom: auto;

}
nav{
    background-color: #a6c1dc;
    height: 40px;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 9;
}
nav a{
    font-family: 標楷體;
    padding: 14px 16px;
    display: inline-block;
    color: #444444;
}
nav a:hover{
    background-color: #5f7f94;
    color: white;
}
main{
    padding: 20px;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-gap: 10px 10px;
}
.card{
    background-color: #f5faff;
    font-family: 標楷體;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 10px;
    background-image: url(image/card_img.jpg);
    background-size: cover;
}
.card h3{
    text-align: center;
}
.card.about{
    grid-area: 1/1/2/7;
    font-size: 18px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.left{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card.about img{
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
}
.txt{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 10px;
}

.card.skill{
    grid-area: 2/1/3/7;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.circle00{
    width: 200px;
    height: 200px;
    position: relative;
}
svg{
    transform: rotate(-90deg);
}

circle{
    fill: none;
    stroke-width: 20;
}

.circle01{
    stroke: #abe1f3;
}

.circle02{
    stroke: #3b64a7;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: progress70 2s linear forwards;
}

@keyframes progress70{
    to {
      stroke-dashoffset: 132;
    }
}
.circle03{
    stroke: #3b64a7;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: progress60 2s linear forwards;
}

@keyframes progress60{
    to {
      stroke-dashoffset: 176;
    }
}
.circle04{
    stroke: #3b64a7;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: progress50 2s linear forwards;
}

@keyframes progress50{
    to {
      stroke-dashoffset: 220;
    }
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text h2{
    margin: 0;
    font-size: 18px;
    color: #000;
}
.text p{
    margin: 0;
    font-size: 15px;
    color: #000;
}
.card.school01{
    grid-area: 3/1/4/4;
}
.card.school01 img{
    width: 300px;
    height: 200px;
    display: block;
}
.card.school02{
    grid-area: 3/4/4/7;
}
.card.school02 img{
    width: 300px;
    height: 200px;
    display: block;
}
.card.cysa01{
    grid-area: 4/1/5/3;
}
.card.cysa01 img{
    width: 300px;
    height: 200px;
    display: block;
}
.card.cysa02{
    grid-area: 4/3/5/5;
}
.card.cysa02 img{
    width: 300px;
    height: 200px;
    display: block;
}
.card.cysa03{
    grid-area: 4/5/5/7;
}
.card.cysa03 img{
    width: 300px;
    height: 200px;
    display: block;
}
.card.contact{
    grid-area: 5/1/6/7;
}
.card.contact p,a{
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    background-color: #a8c1cd;
    color: #f3eeee;
    text-align: center;
    font-family: 標楷體;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.top{
    position: fixed;
    right: 0px;
    bottom: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(153, 219, 255);  
}
.top p{
    color: #777777;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}